/* General Styles */
body {
    font-family: "Space Mono", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ffd5f6;
}

.container {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #fd68b3;
    color: #9f0f58;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: rgba(105, 21, 91, 0.37) 3px solid;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Align items vertically */
}

@media (max-width: 768px) {
    .container {
        width: 93%;
    }
}

@media (max-width: 376px) {
    body > div > header > div > nav > ul > li:nth-child(n) > a {
        font-size: 0.8em;
    }
    body > div > header > div > nav > ul {
        /*padding-right: 30px;*/
    }
    body > div > header > div {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    #hobby > div > div .vid{
        width: 45%;
        height: 136px;
    }

    #contact > div > div {
        width: 70%;
    }

}

header h1 {
    float: left;
    margin: 0;
    position: relative;
    top: -6px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #882f5a; /* Slightly darker pink on hover */
    transition: color 0.3s ease 0s;
}

/* Section */
section {
    padding: 20px 0;
}

#about, #portfolio, #hobby, #contact {
    padding: 20px 0;
    background: #ffd5f6;
}

#about h2, #portfolio h2, #hobby h2, #contact h2 {
    color: #00007F;
}

#hobby audio {
    display: block;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

#portfolio .portfolio-item {
    margin: 20px 0;
}

#portfolio .portfolio-item img {
    width: 100%;
    height: auto;
}

#portfolio .portfolio-item h3 {
    margin: 10px 0 0 0;
}

#portfolio .portfolio-item p {
    margin: 5px 0 0 0;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-top: rgb(157, 66, 111) 4px solid;;
}

.maybe {
    display: flex;
    justify-content: center;
}

.socials {
    display: flex;
    justify-content: space-between;
    /*background-color: white;*/
    width: 40%;
    background-color: #ffe6f9;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 15px;;
    border: 4px solid #FF9FF7FF;
}

#contact > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background-color: green;*/
}

.item:hover {
    cursor: pointer;
}

.item:hover .change-stroke {
    /*stroke: #FF25A0;*/
    stroke: #ff00f2;
    transition: stroke 0.5s ease 0s;
}

.item:hover .change-fill {
    /*fill: #FF25A0;*/
    fill: #ff00f2;
    transition: fill 0.5s ease 0s;
}

#centermepls {
    text-align: center;
}

.projlink {
    color: #FF25A0;
    text-decoration-style: wavy;
}

.projlink:hover {
    color: #ff00f2;
    text-decoration: none;
}

.heraklea {
    /*background-color: green;*/
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 20px;
}

.vid {
    width: 450px;
    height: 240px;
}

::selection {
    color: #e10045;
    background-color: pink;
}